node-red/flow.json
[
    {
        "id": "a6b8716fb6f908dd",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8faaa45f6d6f712",
        "type": "mqtt in",
        "z": "a6b8716fb6f908dd",
        "name": "Recebe comando do Spring Boot",
        "topic": "fiap/iot/echobeacon/comando",
        "qos": "0",
        "datatype": "auto",
        "broker": "a4b4a431e1b82b34",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "3c82f712a452f9a4"
            ]
        ]
    },
    {
        "id": "3c82f712a452f9a4",
        "type": "json",
        "z": "a6b8716fb6f908dd",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "f4b8a772a5c7167f"
            ]
        ]
    },
    {
        "id": "f4b8a772a5c7167f",
        "type": "switch",
        "z": "a6b8716fb6f908dd",
        "name": "Filtra comando",
        "property": "payload.comando",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ativar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "01b77d2b1b437ebc"
            ]
        ]
    },
    {
        "id": "01b77d2b1b437ebc",
        "type": "function",
        "z": "a6b8716fb6f908dd",
        "name": "Formata mensagem para Arduino",
        "func": "// Monta a mensagem simplificada para o Arduino\nlet id = msg.payload.echoBeaconId;\nmsg.topic = \"fiap/iot/echobeacon/acao\";\nmsg.payload = {\n    id: id,\n    comando: \"ativar\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 200,
        "wires": [
            [
                "09d60e74d6c28763",
                "7a8211a1d4eb7e8c"
            ]
        ]
    },
    {
        "id": "09d60e74d6c28763",
        "type": "mqtt out",
        "z": "a6b8716fb6f908dd",
        "name": "Publica para o Arduino (Wokwi)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a4b4a431e1b82b34",
        "x": 1260,
        "y": 200,
        "wires": []
    },
    {
        "id": "7a8211a1d4eb7e8c",
        "type": "debug",
        "z": "a6b8716fb6f908dd",
        "name": "Debug mensagem enviada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 260,
        "wires": []
    },
    {
        "id": "a4b4a431e1b82b34",
        "type": "mqtt-broker",
        "name": "HiveMQ Public Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "node-red-echobeacon",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    }
]